<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./css/styles.css">
    <title>Document</title>
</head>
<body>
    {{!-- {{>header}} --}}
    <h1>
        {{ title }} hh
        
    </h1>
    <div>{{ getTime }} j </div>
    {{!-- {{>footer}} --}}
    <script src="./js/app.js"></script>
</body>
</html>