<button type="button" class="run-button">
    Run sort
</button>
<button type="button" class="stop-button">
    Stop sort
</button>
<form name="sortForm">
    <input type="text" name="numbersArray" />
</form>

<div>
    {{#if result.length !== 0 }}
    {{ result }}
    {{/if}}
</div>
<script src="./js/app.js"></script>